--- 
title: Acceuil
---

%h1.home
  %a{:href => "/"} Ingénieur logiciel


%h2 Spécialisé en Ruby (on Rails) et en sécurité informatique

%p Ma formation et mon expérience me permettent de  proposer mes services pour :

%ul
  %li un site de vente en ligne
  %li une application web avec fonctionnalités riches
  %li le développement d'une API publique ou privée
  %li la déclinaison de votre site en version mobile
  %li l'optimisation des performances de votre application
  %li la formation de développeurs à Ruby et son éco-système
  %li un audit de sécurité

%p Toujours à l'écoute du marché, j'étudierai votre projet avec intérêt afin de proposer une solution élégante, efficace et  innovante.

%h2 Contacts

%ul.contacts
  %li.mail
    %a{:href => "mailto:nicolas@cavigneaux.net"} nicolas@cavigneaux.net
  %li.phone
    +33 (0)6.75.26.63.75
  %li.gtalk
    cavigneaux@gmail.com
  %li.address
    10, rue de la Bastille 62210, Avion, France