---
title: Actualités
---

%h1.news
  %a{:href => "/news"} Activité récente

%p
  Passionné par le
  %a{:href => "http://stuff.bounga.org"} développement d'applications,
  j'écris des
  %a{:href => "http://www.bounga.org"} articles de fond
  autour de :

%ul
  %li Ruby / Rails
  %li Javascript / CoffeeScript / Mootools
  %li HTML5, CSS3
  %li RubyMotion / Objective C
  %li ZSH, Sublime Text, …

%p
  J'utilise également
  %a{:href => "http://twitter.com/Bounga"} Twitter
  pour partager des liens intéressants.

%p Voici mes activités les plus récentes pour ces deux supports :

#blog
  %h2 Blog

#twitter
  %h2 Twitter
