--- 
title: Parcours professionnel
---

%h1.experience
  %a{:href => "/parcours-professionnel"} Parcours & Expérience

%h2 curriculum vitae

%p 
  Mon parcours et mes expériences peuvent être consultés
  %a{:href => "http://www.viadeo.com/fr/profile/nicolas.cavigneaux"} en ligne
  ou sur un CV détaillé en PDF :

%p.center
  %a.no-effects{:href => "/cv-nicolas-cavigneaux.pdf", :title => "CV au format PDF"}
    %img{:src => "/images/icons/pdf.png", :alt => "PDF"}
    
%h2 Actuellement en poste

%p
  %strong Ingénieur d’étude et de développement
  chez
  %a{:href => "http://www.synbioz.com"} Synbioz,
  je travaille principalement à la mise en place de solutions Web basées sur
  %strong Ruby
  et
  %strong Ruby on Rails.
  
%p Synbioz développe des applications web, des déclinaisons mobile ainsi que des applications mobile natives (iPhone / iPad). Nous proposons également de la formation autour de Ruby.

%p Nous étudierons toute proposition avec intérêt et reviendrons vers vous avec une solution personnalisée.