--- 
title: Projets
---

%h1.projects
  %a{:href => "/projets"} Projets personnels

%h2 Blog
%p
  %a{:href => "http://www.bounga.org"} Blog technique
  autour de Ruby, Ruby on Rails, Javascript et Unix. Vous y trouverez également des informations sur mes différents projets libres.
%p.center
  %a.no-effects{:href => "http://www.bounga.org"}
    %img.styled{:src => "/images/projects/blog.jpg", :alt => "Bounga's Blog"}

%h2 Ruby on Rails

%p.center
  %img{:src => "/images/socials/rails-core-contributor.gif", :alt => "Rails core contributor"}

%p
  J’essaie de
  %a{:href => "http://contributors.rubyonrails.org/names_mapping"}contribuer
  à l’amélioration du framework Ruby on Rails en proposant des
  %a{:href => "https://github.com/rails/rails/commits/master?author=Bounga"} patchs
  qui pour certains ont été
  %a{:href => "https://bitbucket.org/Bounga/patches/src/25fa32dd4450/rails-set_only_path_to_false_if_host_is_specified_for_url_helpers.diff"} intégrés au cœur
  de Rails.

%p.center
  %img{:src => "/images/projects/railsfrance.jpg", :alt => "Rails France"}
    
%p
  Particulièrement impliqué dans la communauté Ruby on Rails francophone, j'ai activement participé à 
  %a{:href => "http://railsfrance.org/"} RailsFrance
  à ses débuts. Je suis maintenant plus attentif à la communauté anglophone.
.clear &nbsp;

%h2 Renamer

%p.center
  %a.no-effects{:href => "https://bitbucket.org/Bounga/renamer/"}
    %img{:src => "/images/projects/renamer.png", :alt => "Renamer"}

%p
  %a{:href => "https://bitbucket.org/Bounga/renamer/"} Renamer
  est une application en mode console écrite en Ruby. Elle permet de renommer massivement selon divers critères, intuitivement et sans connaitre les subtilités du shell. Idéal pour renommer vos photos ou de vos mp3 par exemple.
  
%p
  Vous pouvez consulter l'ensemble de mes réalisations open-source sur
  %a{:href => "https://bitbucket.org/Bounga"} ma page Bitbucket.

%h2 Project manager
    
%p Je travaille à l’écriture d’un gestionnaire de projets libres permettant aux développeurs de mettre très facilement en ligne un site dédié à la gestion de leurs projets (documentation, FAQ, screenshots). Ce gestionnaire facilite également la communication avec les utilisateurs (nouvelles, échanges avec la communauté, etc).

%h2 Ruby

%p.center
  %img.styled{:src => "/images/projects/ruby.png", :alt => "Ruby"}
    
%p Je continue chaque jour à découvrir l'éco-système Ruby en me documentant, en testant les nouveautés mais également en contribuant.