---
title: Home
---

%h1.home
  %a{:href => "/"} Software Engineer


%h2 Specialized in Ruby (on Rails) and security concerns

%p My training and my experience allow me to offer my services for :

%ul
  %li online stores
  %li web app with rich functionnalities
  %li public or private API creation and consuming
  %li native iOS / Android apps using RubyMotion
  %li mobile version of your website
  %li optimizing your existing app performances
  %li Ruby (and its eco-system) training
  %li security audit

%p Always open for business, I will look forward to your project in order to offer an elegant, efficient and innovative solution.

%h2 Contacts

%ul.contacts
  %li.mail
    %a{:href => "mailto:nicolas@cavigneaux.net"} nicolas@cavigneaux.net
  %li.phone
    +33 (0)6.75.26.63.75
  %li.gtalk
    cavigneaux@gmail.com
  %li.address
    34 rue Gallieni, 62210, Avion, France
