---
title: News
---

%h1.news
  %a{:href => "/news"} Recent activity

%p
  Passionnate about
  %a{:href => "http://stuff.bounga.org"} software development,
  I'm
  %a{:href => "http://www.bounga.org"} blogging
  about :

%ul
  %li Ruby / Rails
  %li Javascript / CoffeeScript / Mootools
  %li HTML5, CSS3
  %li RubyMotion / Objective C
  %li ZSH, Sublime Text, …

%p
  I also use
  %a{:href => "http://twitter.com/Bounga"} Twitter
  to share interesting links.

%p Here are my most recent activities for these two medias:

#blog
  %h2 Blog

#twitter
  %h2 Twitter
