--- 
title: Projects
---

%h1.projects
  %a{:href => "/projets"} Personal Projects

%h2 Blog
%p
  %a{:href => "http://www.bounga.org"} Technical Blog
  about Ruby, Ruby on Rails, Javascript and Unix. You'll also find info about my various open-source projects.
%p.center
  %a.no-effects{:href => "http://www.bounga.org"}
    %img.styled{:src => "/images/projects/blog.jpg"}

%h2 Ruby on Rails

%p.center
  %img{:src => "/images/socials/rails-core-contributor.gif"}

%p
  I try to
  %a{:href => "http://contributors.rubyonrails.org/names_mapping"} contribute
  to Ruby on Rails framework by sending improvement
  %a{:href => "https://github.com/rails/rails/commits/master?author=Bounga"} patches.
  Some of them were
  %a{:href => "https://bitbucket.org/Bounga/patches/src/25fa32dd4450/rails-set_only_path_to_false_if_host_is_specified_for_url_helpers.diff"} included in Rails core.

%p.center
  %img{:src => "/images/projects/railsfrance.jpg"}
    
%p
  Highly involved in French Ruby on Rails community, I've actively participated to
  %a{:href => "http://railsfrance.org/"} RailsFrance
  and have been speaker at Ruby on Rails' related events in France and Europe. I'm now more involved in english speaking community.
.clear &nbsp;

%h2 Renamer

%p.center
  %a.no-effects{:href => "https://bitbucket.org/Bounga/renamer/"}
    %img{:src => "/images/projects/renamer.png"}

%p
  %a{:href => "https://bitbucket.org/Bounga/renamer/"} Renamer
  is a console app written in Ruby. It allows to massively rename files depending on various criterias. It's intuitive and doesn't require any shell knowledge. The perfect fit for renaming your pictures, MP3s, …
  
%p
  You can check all my open-source work on
  %a{:href => "https://bitbucket.org/Bounga"} my Bitbucket page.

%h2 Project manager
    
%p I'm working on writing an open-source projects manager allowing developers to easily put their projects online. They'll be able to manage documentation, FAQ, screenshots and communication with end-users (news, …).

%h2 Ruby

%p.center
  %img.styled{:src => "/images/projects/ruby.png"}
    
%p Every day I still learn about Ruby and its eco-system by reading documentation, blog posts, testing new things and contributing.