--- 
title: Carreer Path
---

%h1.experience.en
  %a{:href => "/carreer-path"} Background & Experience

%h2 curriculum vitae

%p 
  My background and my experiences are available
  %a{:href => "http://fr.linkedin.com/in/cavigneaux"} online
  or on a detailed resume :

%p.center
  %a.no-effects{:href => "/assets/resume-nicolas-cavigneaux.pdf", :title => "PDF Resume"}
    %img{:src => "/images/icons/pdf.png", :alt => "PDF"}
    
%h2 Currently Working

%p
  %strong Software Architect
  at
  %a{:href => "http://www.synbioz.com"} Synbioz,
  I'm mostly working on Web-based solutions development using
  %strong Ruby
  and
  %strong Ruby on Rails.
  
%p We create web applications, mobile versions and native mobile apps (iPhone / iPad). We also offer training around Ruby.

%p We will consider any proposal with interest and get back to you with a customized solution.